* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: SuperMario256;
    src: url(../fonts/SuperMario256.ttf);
}

.game.board {
    display: flex;
    width: 100%;
    height: 80vh;
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 8vmax;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 13vmax;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 40vw;
    animation: clouds-animation 15s infinite linear;
}

#vai-tremer {
    position: relative;
    text-align: center;
    font-family: SuperMario256, sans-serif;
    font-weight: bolder;
    font-size: 4vh;
    margin-top: 4%;
    color: #483705;
    animation: tremer .2s;
    animation-iteration-count: 4;
}

@keyframes pipe-animation {
    from {
        right: -80%;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 25vmax;
    }

    50% {
        bottom: 25vmax;
    }

    60% {
        bottom: 25vmax;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -45vmax;
    }

    to {
        right: 100%;
    }
}

@keyframes tremer {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 7px;
    }
    50% {
        margin-left: 0;
    }
    75% {
        margin-left: -7px;
    }
    100% {
        margin-left: 0;
    }
}